# Server Configuration
NODE_ENV=development
PORT=3001

# Database Configuration
DB_HOST=localhost
DB_PORT=3306
DB_USER=User
DB_PASSWORD=Password
DB_NAME=Name
DB_DIALECT=dialect
DB_ROOT_PASSWORD=Password

# Authentication
JWT_SECRET=Secret
JWT_EXPIRE=7d
JWT_ISSUER=Issuer
JWT_ALGORITHM=Algorithm

# Docker Configuration
DOCKER_PORT=3301:3301
DOCKER_DB_PORT=3001:3001